.SingleCard {
  background-color: rgba(183, 176, 176, 0.196);
  border-radius: 16px;
  box-shadow: 2px 3px 5px rgba(51, 51, 51, 0.283);
  width: 150px;
  height: 150px;
  margin: 5px;

}

.SingleImage {
  width: 150px;
}

.SingleCard:hover {
  cursor: pointer;
  background-color: #fff0f5;
}
