*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(248, 175, 248, 0.153);
}

.App{
  margin: 0 auto;
  padding: 0.125rem;
}
.App h1{
  color: #9e0a9e;
  font-family: 'Cinzel Decorative', cursive;
  margin: 0.938rem 0 -20px 0;
  text-align: center;
}

.dividerImage{
  display: flex;
  margin: 0.75rem auto;
  width: 4.375rem;
  transform: rotate(-10deg)
}

